*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.toolbox-container>*{
    border-radius: 0.3rem;
}

.toolbox-container{
    height: 5rem;
    background-color: #182C61;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.toolbox-priority-container{
    height: 3rem;
    width: 16rem;
    background-color: #1e272e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-btn-container{
    height: 3rem;
    width: 8rem;
    background-color: lightpink;
    display: flex;
    align-items: center;
}

.color{
    /* background-color: black; */
    width: 3rem ;
    height: 2rem;
}
.pr-1{
    background-color: #e84118;
}
.pr-2{
    background-color: #8c7ae6;
}

.pr-3{
    background-color: #fbc531;
}

.pr-4{
    background-color: #4cd137;
}

.action-btn-container>*{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 100%;
}

.action-btn-container>*:hover{
    background-color: #ea8685;
}

.modal-container{
    height: 50vh;
    width: 45vw;
    background: lightblue;
    position: absolute;
    top: calc( ( 100vh - 50vh ) / 2 );
    left: calc( ( 100vw - 45vw) / 2);
    display: none;
    border: 1px solid black;
    
}

.textarea-cont{
    height: 100%;
    width: 75%;
    border: none;
    resize: none;
    background: #dcdde1;
    padding: 2rem;
    font-size: 1.5rem;
    font-family: cursive;
}

.priority-colors-cont{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #182C61;
}

.priority-color{
    height: 3rem;
    width: 55%;
}

.border{
    border: 6px solid #dcdde1;
}

.ticket-cont{
    height: 12rem;
    width: 16rem;
    background-color: #f1f2f6;
}
.ticket-color{
    height: 1rem;
    background-color: lightpink;
}
.ticket-id{
    height: 2rem;
    padding: 0.4rem;
}

.task-area{
    height: calc(100% - 1rem - 2rem);
    padding: 0.4rem;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
}